{% extends 'base.html.twig' %}

{% block title %}
	{{page_title}}
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 0 auto;
			max-width: 1280px;
			width: 100%;
		}
	</style>

	<div class="example-wrapper">
		<div id="app">
			<app></app>
		</div>
	</div>
{% endblock %}
